<template>
  <div class="mb-2" :style="cssVars">
    <fieldset class="filter-shots">
      <label v-if="title != null" class="filter-label">
        {{ title }}
      </label>
      <a v-if="showLabel()" class="filter-clear" @click="clear()">Clear</a>
      <span class="btn-dropdown">
        <a
          class="form-btn btn-dropdown-link"
          @click="displayDropdown(idFilter)"
        >
          <span>{{ selectedSort.label }}</span>
          <svg
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            class="bi bi-chevron-down"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            style="position: absolute; right: 15px; top: 15px"
          >
            <path
              fill-rule="evenodd"
              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
            />
          </svg>
        </a>
        <div :id="idFilter" class="btn-dropdown-options">
          <ul class="m-0">
            <li
              class="default-filter-option"
              :class="{ active: selectedSort.value == item.value }"
              v-for="item in filters"
              :key="item.value"
            >
              <a @click="selectSort(item, idFilter)">{{ item.label }}</a>
            </li>
          </ul>
        </div>
      </span>
    </fieldset>
  </div>
</template>
<script>
import $ from "jquery";
export default {
  name: "LgaFilter",
  components: {},
  props: {
    filters: {
      type: Array,
      required: true,
      default: function() {
        return [{ label: "Popular", value: "nbLikes" }];
      }
    },
    idUniq: {
      type: String,
      required: true,
      default: "idUniq"
    },
    title: {
      type: String,
      required: false
    },
    baseColor: {
      required: false,
      type: String,
      default: "#ea4c89"
    },
    baseColorFocusHover: {
      required: false,
      type: String,
      default: "234, 76, 137"
    }
  },
  data() {
    return {
      selectedSort:
        this.filters.length > 0
          ? this.filters[0]
          : { label: "Popular", value: "nbLikes" },
      idFilter: "btn-sort-" + this.idUniq,
      selectedDefault:
        this.filters.length > 0
          ? this.filters[0]
          : { label: "Popular", value: "nbLikes" },
      base_color: this.baseColor,
      base_color_focus_hover: this.baseColorFocusHover
    };
  },
  computed: {
    cssVars() {
      return {
        "--base_color": this.base_color,
        "--base_color_focus_hover": this.base_color_focus_hover
      };
    }
  },
  methods: {
    showLabel: function() {
      return (
        this.title != "" &&
        this.title != null &&
        this.selectedSort.value !== this.selectedDefault.value
      );
    },
    clear: function() {
      this.selectedSort = this.filters[0];
      this.$emit("sendToParent", this.selectedSort);
    },
    selectSort: function(item, id) {
      this.selectedSort = item;
      this.$emit("sendToParent", this.selectedSort);
      this.displayDropdown(id);
    },
    displayDropdown: function(id) {
      if (
        $("#" + id + ".btn-dropdown-options")[0].classList.contains(
          "btn-dropdown-options-show"
        )
      ) {
        $("#" + id + ".btn-dropdown-options").removeClass(
          "btn-dropdown-options-show"
        );
      } else {
        $("#" + id + ".btn-dropdown-options").addClass(
          "btn-dropdown-options-show"
        );
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.filter-shots {
  flex: 1;
  width: 200px;
}
.filter-label {
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 20px;
}
.filter-clear {
  color: var(--base_color);
  float: right;
  font-size: 0.7rem;
  padding-top: 2px;
  cursor: pointer;
}
.btn-dropdown {
  position: relative;
  display: block;
  white-space: nowrap;
}
.btn-dropdown .btn-dropdown-link {
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  padding-right: 35px;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 20px;
  transition: all 200ms ease;
  color: #6e6d7a;
  display: inline-block;
  padding: 10px 16px;
  cursor: pointer;
  border: none;
  text-decoration: none;
  border-radius: 8px;
  background-color: transparent;
  box-shadow: 0px 0px 0px 1px #e7e7e9 inset;
}
.btn-dropdown .btn-dropdown-link:hover {
  border-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 4px rgba(var(--base_color_focus_hover), 0.1);
}
.btn-dropdown .btn-dropdown-link:focus {
  border-color: rgba(var(--base_color_focus_hover), 0.4);
  box-shadow: 0 0 0 4px rgba(var(--base_color_focus_hover), 0.1);
}
.btn-dropdown-options {
  font-size: 0.9rem;
  right: 0;
  font-weight: 400;
  line-height: 20px;
  margin-top: 4px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.04);
  background: #fff;
  display: none;
  left: 0;
  min-width: 180px;
  position: absolute;
  top: calc(100% + 8px);
  z-index: 1;
}
.btn-dropdown-options ul {
  list-style: none;
  padding: 8px 0;
}
.btn-dropdown-options li {
  cursor: pointer;
}
.btn-dropdown-options li:hover {
  background-color: #e7e7e9;
}
.btn-dropdown-options a.active,
.btn-dropdown-options li.active a {
  font-weight: bold;
  color: var(--base_color);
}
.btn-dropdown-options a {
  display: block;
  padding: 8px 15px;
  font-size: 0.8rem;
}
.btn-dropdown-options-show {
  display: block !important;
}
</style>
